.login-img{
    // float: left;
    height: 65vh;
}
.heading{
    margin-top: 20px;
    color: #6767BA;
    
}

.col1{
    height: 100%;
    width: 50%;
    position: fixed;
    display: inline-block;
}
.col2{
  
  height: 100%;
  width: 50%;
  display: inline-block;
}